<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'Change Password' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="w-full mb-4">
        <mat-label>{{ 'Old Password' | translate }}</mat-label>
        <input matInput type="password" formControlName="old_password" required />
        @if (form.get('old_password')?.hasError('required')) {
          <mat-error>
            {{ 'Password is required' | translate }}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full mb-4">
        <mat-label>{{ 'New Password' | translate }}</mat-label>
        <input matInput type="password" formControlName="new_password1" required />
        @if (form.get('new_password1')?.hasError('required')) {
          <mat-error>
            {{ 'Password is required' | translate }}
          </mat-error>
        }

        @if (form.get('new_password1')?.hasError('minlength')) {
          <mat-error>
            {{ 'Password must be at least 8 characters' | translate }}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full mb-4">
        <mat-label>{{ 'Repeat New Password' | translate }}</mat-label>
        <input matInput type="password" formControlName="new_password2" required />
        @if (form.get('new_password2')?.hasError('required')) {
          <mat-error>
            {{ 'Password is required' | translate }}
          </mat-error>
        }
      </mat-form-field>

      @if (
        form.hasError('notSame') &&
        form.get('new_password1')?.dirty &&
        form.get('new_password2')?.dirty
      ) {
        <mat-error> {{ 'Passwords do not match' | translate }} </mat-error>
      }

      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        {{ 'Save' | translate }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
