<mat-card>
  <mat-card-header class="centered-header">
    <mat-card-title class="centered-title">{{
      'Create A Strong Password' | translate
    }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{
        'Your password must be at least 6 characters and should include a combination of numbers,letters and special characters(!$ %).'
          | translate
      }}
    </p>

    <form [formGroup]="newPasswordForm" (ngSubmit)="submit()">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ 'New password' | translate }}</mat-label>
        <input matInput formControlName="new_password1" type="password" required />
        @if (newPassword1RequiredError) {
          <mat-error> {{ 'Password is required' | translate }} </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ 'New password, again' | translate }}</mat-label>
        <input matInput formControlName="new_password2" type="password" required />
        @if (newPassword2RequiredError) {
          <mat-error> {{ 'Password is required' | translate }} </mat-error>
        }
      </mat-form-field>

      @if (
        newPasswordForm.hasError('notSame') &&
        newPasswordForm.get('new_password1')?.dirty &&
        newPasswordForm.get('new_password2')?.dirty
      ) {
        <mat-error> {{ 'Passwords do not match' | translate }} </mat-error>
      }

      <button
        mat-flat-button
        color="primary"
        class="mt-4"
        type="submit"
        [disabled]="newPasswordForm.invalid"
      >
        {{ 'Reset password' | translate }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
