# Ignorar dependencias de Node.js
node_modules/
dist/
.tmp/
.angular/

# Ignorar archivos de configuración y cachés
*.bak
.DS_Store
Thumbs.db
.npm/
.npmrc

# Ignorar archivos de Git y editores
.git/
.gitignore
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
