mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

button {
  width: 100%;
  margin: 1em 0;
}

.centered-header {
  justify-content: center;
}

.centered-title {
  text-align: center;
  width: 100%;
}

.link-button {
  padding: 0;
  min-width: unset;
  text-transform: none;
  font-weight: normal;
  font-size: 14px;
  color: #1976d2 !important;
}