<mat-card>
  <mat-card-header class="centered-header">
    <mat-card-title class="centered-title">{{
      'Sign up to use the app' | translate
    }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="signupForm" (ngSubmit)="submit()">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ 'Email' | translate }}</mat-label>
        <input matInput formControlName="email" type="email" required />
        @if (
          signupForm.get('email')?.invalid &&
          (signupForm.get('email')?.touched || signupForm.get('email')?.dirty)
        ) {
          <mat-error>{{ 'Please enter a valid email' | translate }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ 'Username' | translate }}</mat-label>
        <input matInput formControlName="username" type="text" required />
        @if (
          signupForm.get('username')?.invalid &&
          (signupForm.get('username')?.touched || signupForm.get('username')?.dirty)
        ) {
          <mat-error>{{ 'Please enter a valid username' | translate }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password1" type="password" required />
        @if (
          signupForm.get('password1')?.invalid &&
          (signupForm.get('password1')?.touched || signupForm.get('password1')?.dirty)
        ) {
          <mat-error>{{ 'Password is required' | translate }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ 'Confirm password' | translate }}</mat-label>
        <input matInput formControlName="password2" type="password" required />
        @if (
          signupForm.get('password2')?.invalid &&
          (signupForm.get('password2')?.touched || signupForm.get('password2')?.dirty)
        ) {
          <mat-error>{{ 'Password is required' | translate }}</mat-error>
        }
      </mat-form-field>

      @if (
        signupForm.hasError('notSame') &&
        signupForm.get('password1')?.dirty &&
        signupForm.get('password2')?.dirty
      ) {
        <mat-error> {{ 'Passwords do not match' | translate }}</mat-error>
      }

      <button
        mat-flat-button
        color="primary"
        class="mt-4"
        type="submit"
        [disabled]="signupForm.invalid"
      >
        {{ 'Send login link' | translate }}
      </button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <p>{{ 'Have an account ?' | translate }}</p>
    <p>
      <a mat-button routerLink="/auth/login" class="link-button"> {{ 'Log in' | translate }} </a>
    </p>
  </mat-card-content>
</mat-card>
